<div class="header-items">
    <app-search></app-search>
    
    <!-- <div class="header-search">
        <div class="search-icon"><i class="icon-search"></i></div>
        <div class="search-input"><input type="text" placeholder="Search"></div>
    </div> -->
    <div class="header-buttons">
        <div class="card-button">
            @if (pickedCount) {
                <div class="card-picked-count">
                    {{pickedCount}}
                </div>
            }
            <i class="icon-shopping-bag"></i>
        </div>
        <!-- <app-link-button [icon]="'icon-shopping-bag'" [link]="'#'" [text]="'Card'"></app-link-button> -->

        <app-link-button [icon]="'icon-portal-exit'" [link]="'#'" [text]="'Sign up'"></app-link-button>
        <app-link-button [icon]="'icon-portal-exit'" [link]="'#'" [text]="'Sign in'"></app-link-button>
    </div>
</div>



