:host {
    .header-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        &::ng-deep {
            app-search {
                flex: 1;
            }
        }

        .header-buttons {
            display: flex;
            align-items: center;
            gap: 26px;

            .card-button {
                position: relative;
                
                .card-picked-count {
                    font-size: 12px;
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    color: black;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    padding: 6px;
                    font-weight: bold;
                }

                i {
                    color: #fff;
                    font-size: 24px;
                }
            }
        }
    }
}
