<div class="page-box">
    <div class="page-body">
        <div class="page-banner">
            <div class="page-banner-content">
                <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, dicta dolorem! Aliquam in nobis commodi. Ab saepe praesentium obcaecati mollitia.</p>
                <app-link-button [icon]="'icon-dot-circle'" [text]="'Subscribe'"></app-link-button>
            </div>
        </div>
        <app-grid-list></app-grid-list>
    </div>
</div>